<div id="about_page">
  <div class="box_header"><h2>About This App</h2></div>
  <div id="about_text">
  <h4>The Basics</h4>
  <p><strong>Mys</strong> is the Greek word for muscles.  So the name of this app essentailly means "InfoMuscles". I made this app so that I could track every aspect of my workouts on a calendar and see my results graphically. I hope this app suits your needs as well as it does for me.  If you have any tips or requests, please find my email at the bottom of this page. </p>
  <p>To use this app, simply head over to your calendar after completing a workout and click the "Add New Workout" button. Feel free to name your workout anything, although I suggest naming it by the body part(s) you worked out, i.e., "Shoulders", "Chest", etc. Add the date you completed this workout and you're workout will be saved in your calendar!</p>
  <p>Once saved, a button with the name of your workout will appear on the calendar. Click the button to view or add to the details of that workout. By naming your workout by a specific body part, each workout on your calendar will be color-coded. At the time of this write up, the list of names that will produce color-coded buttons on your calendar are:
    <ul style="list-style: none;">
      <li>Chest, Back, Shoulders, Arms, Legs, Abs</li>
    </ul> <br>
    Please send me an email if you would like other names added to the color-coded list. </p>
  <p>After saving your workout, you will see a link to add a new exercise. If you stay consistent with the naming of each exercise that you complete and log each set (reps and weight) you complete, then you will be able to visually see your progress for each exercise on a graph. You can view this graph by either clicking the name of the exercise in the workout modal or by visiting the "Stats" page from the nav bar. </p>

  <h4> Feedback Welcome!</h4>
  <p>At the time of this writing, this app is in its MVP state (minimum viable product).  If you find any bugs or have any suggestions, please let me know!</p>
  <p><a href="mailto:amihalop@gmail.com">Email Me</a></p>
  </div>
</div>