<div id="about_page">
  <div class="box_header"><h2>About This App</h2></div>
  <div id="about_text">
  <h4>The Basics</h4>
  <p>To use this app, simply head over to your calendar after completing a workout and click the "Add New Workout" button. Feel free to name your workout anything, although I suggest naming it by the body part(s) you worked out, i.e., "Shoulders", "Chest", etc. Add the date you completed this workout and you're workout will be saved in your calendar!</p>
  <p>After saving your workout, you will see a link to add a new exercise. If you stay consistent with the naming of each exercise that you complete and log each set (reps and weight) you complete, then you will be able to visually see your progress for each exercise on a graph. You can view this graph by either clicking the name of the exercise in the workout modal or by visiting the "Stats" page from the nav bar. </p>

  <h4> Feedback Welcome!</h4>
  <p>At the time of this writing, this app is in its MVP state (minimum viable product).  If you find any bugs or have any suggestions, please let me know!</p>
  <p><a href="mailto:amihalop@gmail.com">Email Me</a></p>
  </div>
</div>