<div class="content">
  <div class="follow_header">
    <h1>Followers</h1>
  </div>
  <% @user.followers.each do |f| %>
    <p><%= link_to f.follower.name, user_path(f.user) %></p>
  <% end %>
</div>
