<div class="content">
  <div id="workout_header">
    <h1>Following</h1>
  </div>
  <% @user.following.each do |following| %>
    <p><%= link_to following.user.name, user_path(following.user) %></p>
  <% end %>
</div>
