<div id="form">
<h1 id="title">Infomys</h1>
<h6>A Workout Journal and Analytics App</h6>
<%= link_to "Sign In", signin_path, remote: true %>
<%= link_to "Sign Up", signup_path, remote: true %>

</div>