<h2><%= @exercise.name %></h2>

<%= content_tag :div, "", id: "exercise_chart", data: {exercise: @exercise.get_one_rep_dataset} %>
<div id="exercise_chart"></div>
  <script>
  new Morris.Line({

  element: 'exercise_chart',

  data: $('#exercise_chart').data('exercise'),

  xkey: 'date',

  ykeys: ['weight'],

  labels: ['Calculated 1RPM']
});

</script>