<div class="exercise_list">
<p><%= exercise.name %></p>

<% exercise.rounds.each_with_index do |round, index| %>
  <p><%= "Set #{index + 1}:" %> <%= render round %> </p>

<% end %>

<%= link_to "Add Sets", new_user_workout_exercise_round_path(exercise.workout.user, exercise.workout, exercise), remote: true %>
</div>