<div class="form">
  <%= form_for @exercise, url: user_workout_exercises_path, id: "new_exercise_link", remote: true do |f| %>
    <h2>Add Exercise</h2>
    <div class="input_label_pair">
      <%= f.label :name, "Exercise: " %>
      <%= f.text_field :name %>
    </div>
    <div class="input_label_pair">
      <%= f.submit 'Submit' %>
    </div>

  <% end %>
</div>
