<div class="form">
  <%= form_for @exercise, url: user_workout_exercises_path, id: "new_exercise_link", remote: true do |f| %>
    <h2>Add Exercise</h2>
    <div class="input_label_pair">
      <%= f.label :name, "Exercise: " %>
      <%= f.autocomplete_field :name, autocomplete_exercise_name_user_workout_exercises_path(@exercise.workout.user, @exercise.workout, @exercise), 'data-auto-focus' => true %>
    </div>
    <div class="input_label_pair">
      <%= f.submit 'Submit', :class => "button edit_button" %>
    </div>

  <% end %>
</div>
