<table id="chart_table">
  <tr>
    <td>Exercise Name:</td>
    <td><%= @exercise.name %></td>
  </tr>
  <tr>
    <td>Times Completed:</td>
    <td><%= @exercise.get_one_rep_dataset.count %></td>
  </tr>
  <tr>
    <td>One Rep Max:</td>
    <td><%=  %></td>
  </tr>

</table>