<table>
  <tr>
    <td>Exercise Name:</td>
    <td><%= @exercise.name %></td>
  </tr>
  <tr>
    <td># Times Completed:</td>
    <td><%= @exercise.name %></td>
  </tr>
  <tr>
    <td>Current 1 Rep Max:</td>
    <td><%= @exercise.name %></td>
  </tr>
</table>
<%= render 'exercises/chart' %>