<div id="stats_page">
  <div class="content">
    <div class="follow_header">
      <h1>Stats</h1>
    </div>

    <div id="user_stats_info">
      <%= react_component 'FilterableExerciseContainer', { exercises: @exercises }, {prerender: true} %>

    </div>
    <div id="right_charts">
      <h4>See Workout by Workout Comparisons of Your Calculated 1RPM</h4>
    <div class="exercise_list"></div>

  </div>
</div>
