<div id="stats_page">
<div id="user_stats_info">
<h2>Exercises you've Completed</h2>
<% @hash.each do |exercise, value| %>
  <p style="color: white;"><%= link_to exercise.name, chart_exercise_path(exercise), :class => 'chart_link', remote: true %></p>
<% end %>
</div>
<div id="right_charts">
  <h4>See Workout by Workout Comparisons of Your Calculated 1RPM</h4>
<div class="exercise_list" style="background-color: #336699; border: 5px solid #777"></div>
</div>